h1 {
    font-style: bold;
    display: flex;
    justify-content: center;
    margin: 0%;
}

h2 {
    margin: 0;
    text-align: center;
}

p {
    background-color: white;
    font-style: italic;
    text-align: center;
    font-size: 2em;
    
}

.outerdiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;

    
}
footer {
    background-color: red;
    height: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
header {
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: red;

}
.pinkbtn {
    background-color: pink;
}